* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  max-width: 1440px;
  background-color: hsl(210, 46%, 95%);
}

.container {
  margin: 165px
}

.box_1 {
  background-color: hsl(263, 55%, 52%);
  width: 540px;
  height: 280px;
  padding: 30px;
  border-radius: 10px;
}
.profile-row {
  display: flex;
  align-items: center;
}

.profile-col {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.avatar {
  border: 2px solid hsl(264, 43%, 57%);
  border-radius: 50%;
  width: 25px;
}

.name {
  color: hsl(0, 0%, 100%)
}

.verification {
  color: hsla(0, 0%, 100%, 0.5)
}



.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
