* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  max-width: 1440px;
  background-color: hsl(210, 46%, 95%);
}

.container {
  margin: 165px
}

.box_1 {
  background-color: hsl(263, 55%, 52%);
  width: 540px;
  height: 280px;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}

.box_2 {
  background-color: hsl(217, 19%, 35%);
  width: 250px;
  height: 280px;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}

.box_3 {
  background-color: hsl(0, 0%, 100%);
  width: 250px;
  height: 255px;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}

.profile-row {
  display: flex;
  align-items: center;
}

.profile-col {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.avatar-with-border {
  border: 2px solid hsl(264, 43%, 57%);
  border-radius: 50%;
  width: 30px;
}

.avatar-no-border {
  border-radius: 50%;
  width: 30px;
}

.name-white {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  letter-spacing: 0.7px;
}

.verification-white {
  color: hsla(0, 0%, 100%, 0.5)
}

.name-gray {
  color: hsl(217, 19%, 35%);
  font-weight: 600;
  letter-spacing: 0.7px;
}

.verification-gray {
  color: hsla(217, 19%, 35%, 0.5)
}

.quote {
  position: absolute;
  transform: translateX(310%) translateY(-60%);
  z-index: 0;
}

h1.white {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  position: relative;
  z-index: 1;
  margin-top: 11px;
  font-weight: 600;
}

p.white {
  color: hsla(0, 0%, 100%, 0.7);
  margin-top: 11px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

h1.gray {
  color: hsl(217, 19%, 35%);
  font-size: 20px;
  position: relative;
  z-index: 1;
  margin-top: 11px;
  font-weight: 600;
}

p.gray {
  color: hsla(217, 19%, 35%, 0.7);
  margin-top: 11px;
  line-height: 18px;
  letter-spacing: 0.2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
